.page__meadia__video-player {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(41, 33, 49, 0.358);
    backdrop-filter: blur(4px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.page__meadia__video-player__content {
    position: relative;
}

.page__meadia__video-player__btn-close {
    position: absolute;
    top: -50px;
    right: -50px;
}

.page__meadia__video-player__btn-close button {
    background-color: rgba(186, 180, 192, 0.5);
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}

.page__meadia__video-player__btn-close button:hover {
    background-color: rgba(188, 116, 116, 0.5);
    box-shadow: inset 0 0 4px rgb(0 0 0);
}