.page__movie__loading {
    width: 20vw;
    margin: 0 auto;
}

.page__media__like-list__empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.page__media__like-list__empty {
    margin-top: 80px;
}