@media screen and (max-width:1526px) {

    .best__products__items {
        gap: 10px;
    }

}

@media screen and (max-width:1444px) {

    .best__products__items {
        justify-content: space-evenly;
    }

}

@media screen and (max-width:1240px) {

    .page__media__like-list__item {
        padding: 10px;
        font-size: 18px;
        line-height: 120%;
    }

    .page__media__like-list__inform {
        flex: 0 1 auto;
    }

}

@media screen and (max-width:1160px) {

    .promo__wrapper {
        height: 680px;
    }

    .promo__title {
        padding: 81px 26px;
        box-shadow: 0px 4px 38px 5px rgb(0 0 0);
    }

    .promo__title h1 {
        max-width: 280px;
        font-size: 32px;
        line-height: 110%;
        text-shadow: 0px -6px 2px rgb(0 0 0 / 60%);
    }

    .promo__sub__title {
        padding-left: 10px;
        font-size: 16px;
        line-height: 120%;
        text-shadow: 0px -2px 2px rgb(0 0 0 / 70%);
    }

    .page__media__content__wrapper h2 {
        font-size: 36px;
    }

    .page__media__content__inform__items {
        font-size: 16px;
        line-height: 140%;
    }

}

@media screen and (max-width:1080px) {

    .best__products__items {
        gap: 16px;
        justify-content: center;
    }

}

@media screen and (max-width:1024px) {

    .opportunities__wrapper {
        padding: 80px 0;
        gap: 40px;
        flex-wrap: wrap;
    }

    .opportunities__item {
        width: 50vw;
        gap: 12px;
    }

    .opportunities__description {
        max-width: 50vw;
        font-size: 16px;
    }

    .opportunities__item:nth-child(1) {
        background-position-y: center;
    }

    .opportunities__item:nth-child(2) {
        background-position-y: center;
    }

    .opportunities__item:nth-child(3) {
        background-position-y: center;
    }

    .choice__media__carousel__nav {
        display: flex;
    }

    .page__media__like-list__items {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 34px;
    }

    .page__media__like-list__item {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: justify;
        gap: 10px;
        width: 360px;
        height: 800px;
    }

    .page__media__like-list__title {
        text-align: center;
        padding-bottom: 15px;
    }

    .page__media__content__inform {
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    .page__media__content__btn {
        width: auto;
    }

    .footer__nav {
        gap: 20px;
    }

    .footer__menu__items, 
    .footer__further-info__items {
        gap: 10px;
    }

    .footer__menu {
        margin-left: 50px;
        width: 120px;
    }
}

@media screen and (max-width: 860px) {

    .promo__wrapper {
        height: 600px;
    }

    .page__meadia__video-player__btn-close {
        right: 0px;
    }

    .footer__wrapper {
        align-items: center;
        flex-wrap: wrap;
    }

    .footer__menu {
        margin-left: 0px;
        width: auto;
    }

    .footer__nav {
        gap: 10px;
    }
    
}

@media screen and (max-width: 768px) {
    .container {
        width: 94%;
    }

    .header__marked {
        z-index: 5;
    }

    .header__btn-burger {
        display: flex;
        z-index: 5;
    }

    .header__nav__items {
        visibility: hidden;
        overflow-x: hidden;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: 0px;
        top: 0;
        z-index: 4;
        width: 100%;
        min-width: 320px;
        height: 100vh;
        background-color: rgba(46, 68, 115, 0.5);
        backdrop-filter: blur(6px);
    }

    .openMenu {
        visibility: visible;
        transform: translateX(0);
        animation: slideOpen 1s ease-out;
    }

    .closeMenu {
        transform: translateX(100%);
        animation: slideOut 1s ease-out;
    }

    @keyframes slideOpen {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }

    @keyframes slideOut {
        from {
            visibility: visible;
            transform: translateX(0);
        }
        to {
            transform: translateX(100%);
        }
    }

    .header__nav {
        flex: 12 0 auto;
    }

    .header__nav__item a {
        padding: 10px;
        font-family: 'Inter', sans-serif;
        text-decoration: none;
        font-size: 26px;
        color: rgba(255, 255, 255, 0.6);
        margin-bottom: 10px;
    }

    .media__loading {
        bottom: 30%;
    }

    .media__loading__animation {
        max-width: 320px;
        width: 60%;
    }

    .page__media__content__pic {
        margin: 0 auto;
    }

    .page__media__wrapper {
        gap: 40px;
    }
}

@media screen and (max-width: 600px) { 

    .page__media__hat {
        flex-direction: column;
        gap: 20px;
    }

    .choice__media__wrapper {
        gap: 20px;
    }

    .choice__media__carousel {
        width: auto;
        height: 360px;
    }

    .choice__media__carousel__nav {
        padding-top: 10px;
    }

    .page__movie__loading {
        width: 280px;
    }

    .page__media__content__pic img {
        height: 480px;
    }

    .page__media__content__inform__item {
        text-align: justify;
    }

    .footer__nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width: 425px) {

    .promo__wrapper {
        height: 520px;
    }

    .promo__title {
        padding: 81px 12px;
        box-shadow: 0px 2px 14px 4px rgb(0 0 0);
    }
    .promo__title h1 {
        max-width: 260px;
        font-size: 28px;
    }

    .promo__title:hover {
        border: 3px solid transparent;
        box-shadow: inset 0px 0px 20px 4px rgb(0 0 0);
    }

    .section_title {
        font-size: 28px;
        line-height: 110%;
        text-align: center;
    }

    .page__media__like-list__item {
        width: 280px;
        height: auto;
    }

    .page__media__like-list__btn {
        margin: 20px 0;
    }

    .page__media__content__wrapper {
        gap: 20px;
    }

    .page__media__content__wrapper h2 {
        font-size: 28px;
    }

    .page__media__content__pic img {
        height: 380px;
    }
    
    .page__media__player {
        height: 40vh !important;
    }

}