
.header__btn-burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 22px;
    cursor: pointer;
    user-select: none;
    z-index: 2;
    transition: 0.3s ease-in-out;
}

.btn__line {
    display: inline-block;
    width: 100%;
    height: 2px;
    z-index: 15;
    background: rgba(255, 255, 255, 0.7);
}

.header__btn-burger:hover .btn__line{
    background: #ffffff;
}

.header__btn-burger.open {
    transform: rotate(-90deg);
}

.header__marked {
    width: 44px;
}