.page__movie__input {
    padding: 12px 16px;
    width: 280px;
    background: #3d4069;
    border: none;
    color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 14px;
}

.page__movie__input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}