.footer__wrapper {
    display: flex;
    flex-direction: column;
    gap: 110px;
    padding: 48px 0 30px;
}

.footer__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.footer__social {
    display: flex;
    flex-direction: column;
    max-width: 240px;
}

.footer__social__logo svg{
    width: 118px;
    height: 56px;
    cursor: pointer;
}

.footer__social__logo svg:hover {
    opacity: 0.6;
}

.footer__social__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    color: rgba(255, 255, 255, 0.4);
    padding: 8px 0 24px;
    margin-bottom: 0em;
}

.footer__social__items {
    display: flex;
    gap: 32px;
    list-style: none;
    margin-bottom: 0em;
}

.footer__social__item:hover {
    cursor: pointer;
    opacity: 0.6;
}

.footer__menu {
    margin-left: 90px;
    width: 170px;
}

.footer__menu__items,
.footer__further-info__items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    max-height: 140px;
    list-style: none;
    margin-bottom: 0em;
}

.footer__menu h3,
.footer__further-info h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding: 18px 0 24px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0em;
}

.footer__menu__item a,
.footer__further-info__item a {
    font-family: 'Inter-Light', sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.4);
}

.footer__menu__item a:hover,
.footer__further-info__item a:hover {
    color: rgba(255, 255, 255, 1);

}

.footer__copyright {
    text-align: center;
    color: #8F91D0;
}